@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Sofia+Sans&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #8ab9ee   ;
    --secondary-color: #1957b3 ;
    --accent1-color: #4680a7;
    --accent2-color: #313453;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Aboreto";
    --paragraph-font: "Sofia Sans", Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #1957b3;  /* headlines on a white background */ 
    --headline-color-on-color: #2770a1; /* headlines on a colored background */ 
    --paragraph-color-on-white: #313453; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #8ab9ee; /* paragraph text on a colored background */ 
    --paragraph-background-color: #8ab9ee;
    --nav-link-color: #447ea5;
    --nav-background-color: #313453;
    --nav-hover-link-color: #8ab9ee;
    --nav-hover-background-color: #1957b3;
  }


#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    padding: 35px;
    text-align: center;
    text-decoration: none;
    background-color: var(--accent2-color);
    color: var(--nav-link-color);
}

nav a:hover{
    text-decoration: underline;
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color)
}

#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

.book{
    border-radius: 5px;
    margin-top: 50px;
    font-size: 18px;
    text-decoration: none;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    padding: 15px 30px;
    color: var(--paragraph-color-on-color);
}

.book:hover{
    text-decoration: underline;
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.join-us{
    border-radius: 5px;
    margin-top: 50px;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
}

.join-us:hover{
    text-decoration: underline;
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

main section{
    text-align: center;
}

#background{
    background-color: var(--paragraph-background-color);
    height: 725px;
}

.msg{
    padding: 35px;
    line-height: 1.5em;
    background-color: var(--paragraph-background-color);
}

.msg p{
    padding-bottom: 15px;
    font-size: .8em;
}

.msg h2{
    font-family: var(--heading-font), Impact, Haettenschweiler, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: var(--paragraph-font), Arial, Helvetica, sans-serif;
    background-color: white;
    color: var(--paragraph-color-on-white);
}

h2{
    margin: 0;
}

header{
    background-color: var(--accent1-color);
}

footer{
    padding: 25px 50px;
    background-color: var(--accent2-color);
}

footer p{
    color: var(--paragraph-color-on-color);
    margin-top: 200px;
}

footer p a{
    text-decoration: none;
    color: var(--nav-link-color);
}

footer p a:hover{
    text-decoration: underline;
}

.home-title{
    margin-top: 10px;
    font-size: 2em;
    font-family: var(--heading-font), Impact, Haettenschweiler, sans-serif;
}

.logo{
    padding-bottom: 50px;
    width: 80px;
}

.icon{
    padding-top: 10px;
    width: 80px;
}

#hero-img{
    width: 100%;
}

#logo_link{
    padding-top: 5px;
}

footer.social.img{
    padding-top: 15px;
}

.rivers-card{
    margin: 200px 0;
}

.camping-card{
    margin: 200px 0;
}

.rapids-card{
    margin: 200px 0;
}

.card-img{
    border: 10px solid var(--accent2-color);
}

main section img{
    box-sizing: border-box;
}

.mountains{
    margin: 8em 0;
}