@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.cherries{
    grid-column: 1;
    grid-row: 1/3;
    background-image: url(../images/w06_cherries.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.grey-box{
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: grey;
}

.head{
    grid-column: 1/3;
    grid-row: 1;
    z-index: 3;
    font-family: Oswald, 'Arial Narrow Bold';
    font-size: 200px;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;
}

.descriptor{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #9c0e11;
    font-size: 75px;
    grid-column: 2;
    grid-row: 2;
    z-index: 0;
    text-align: center;
    padding-top: 100px;
}

